button {
    margin-bottom: 30px;
    background-color:#b33a3a;
    color:#fff;
}


button .glassbtn {
    background: rgba(#255, #255, #255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

